[Unit]
Description=Hello World Service
After=systend-user-sessions.service

[Service]
Type=simple
ExecStart=/home/devops/DevOps-Task1/bin/Hello


[Install]
WantedBy=multi-user.target

