[Unit]
Description=hello service
After=network.target

[Service]
Type=simple
User=devops
Group=devops
ExecStart=~/devops/Task1/DevOps-Task1/bin
Restart=always

[Install]
WantedBy=multi-user.target
