---
- name: Setup App
  hosts: all
  remote_user: ubuntu
  become: true

  tasks:

  - name: Ping
    ping:

  - name: Copy hello.sevice
    copy:
      src: ./DevOps-Task1/hello.service
      dest: /etc/systemd/system/hello.service
      remote_src: true

  - name: Run service
    ansible.builtin.service:
      name: hello.service
      state: started
      enabled: true
